In [34]:
import pandas as pd

df_temp=pd.DataFrame({
    "city":["Delhi","UP","MP","Kolkata","Tamilnadu"],
    "temprature":[28,23,27,29,26]
})
print(df_temp)

        city  temprature
0      Delhi          28
1         UP          23
2         MP          27
3    Kolkata          29
4  Tamilnadu          26

In [36]:
df_hum=pd.DataFrame({
    "city":["Delhi","UP","MP","Kolkata"],
    "humidity":[45,50,54,34]
})
print(df_hum)

      city  humidity
0    Delhi        45
1       UP        50
2       MP        54
3  Kolkata        34

In [68]:
#Merge two dataframe(outer join)
merge=pd.merge(df_temp,df_hum,how="outer",indicator=True,on="city")
print(merge)

        city  temprature  humidity     _merge
0      Delhi          28      45.0       both
1         UP          23      50.0       both
2         MP          27      54.0       both
3    Kolkata          29      34.0       both
4  Tamilnadu          26       NaN  left_only

In [69]:
#Merge two dataframe(left join)
merge=pd.merge(df_temp,df_hum,how="right",indicator=True,on="city")
print(merge)

      city  temprature  humidity _merge
0    Delhi          28        45   both
1       UP          23        50   both
2       MP          27        54   both
3  Kolkata          29        34   both

In [70]:
#(intersection join)
merge=pd.merge(df_temp,df_hum,indicator=True,on="city")
print(merge)

      city  temprature  humidity _merge
0    Delhi          28        45   both
1       UP          23        50   both
2       MP          27        54   both
3  Kolkata          29        34   both

In [71]:
#(left join)
merge=pd.merge(df_temp,df_hum,how="left",indicator=True)
print(merge)

        city  temprature  humidity     _merge
0      Delhi          28      45.0       both
1         UP          23      50.0       both
2         MP          27      54.0       both
3    Kolkata          29      34.0       both
4  Tamilnadu          26       NaN  left_only

In [62]:
df1=pd.DataFrame({
    "city":["Delhi","UP","MP","Kolkata"],
    "humidity":[45,43,55,34],
    "temprature":[28,23,27,26]
})
print(df1)

      city  humidity  temprature
0    Delhi        45          28
1       UP        43          23
2       MP        55          27
3  Kolkata        34          26

In [63]:
df2=pd.DataFrame({
    "city":["Delhi","UP","MP"],
    "temprature":[28,23,27],
    "humidity":[45,43,55]
})
print(df2)

    city  temprature  humidity
0  Delhi          28        45
1     UP          23        43
2     MP          27        55

In [77]:
#when two dataframe has same column name
m2=pd.merge(df1,df2,on="city")
print(m2)

    city  humidity_x  temprature_x  temprature_y  humidity_y
0  Delhi          45            28            28          45
1     UP          43            23            23          43
2     MP          55            27            27          55

In [79]:
#Explicit suffix
m2=pd.merge(df1,df2,on="city",suffixes=("_left","_right"))
print(m2)

    city  humidity_left  temprature_left  temprature_right  humidity_right
0  Delhi             45               28                28              45
1     UP             43               23                23              43
2     MP             55               27                27              55